/* Base (Mobile) Styles */
.icon-circle img {
    max-width: 20px;
}

.edu-item-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.edu-item-text {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    max-width: 250px;
}

.edu-item-text p {
    margin: 0;
    /* color: #3c93f7; */
}

.edu-item-text small {
    color: rgb(136, 138, 253);
}

.edu-item-text h5 {
    margin: 0;
    color: rgb(180, 94, 250);
}

/* Tablet (portrait and landscape) */
@media (min-width: 577px) and (max-width: 1024px) {
    .edu-item-wrapper {
        justify-content: start;
        gap: 10px;
    }

    .edu-item-text {
        font-size: 15px;
        max-width: 450px;
    }
}

/* Desktop (smaller screens and up) */
@media (min-width: 1025px) {
    .edu-item-wrapper {
        justify-content: start;
        gap: 10px;
    }

    .edu-item-text {
        font-size: 15px;
        max-width: 450px;
    }
}