/* Base (Mobile) Styles */
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.content-box{
    display: flex;
}
.text-icon-box{
    margin-bottom: 5px;
}
.conection-icon-box{
    display: flex;
    gap: 10px;
}
.text-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.text-content small,
.text-content h3,
.text-content p {
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}


/* Tablet (portrait and landscape) */
@media (min-width: 577px) and (max-width: 1024px) {
    .content-wrapper {
        /* gap: 5rem; */
        margin-top: 100px;
        margin-bottom: 5rem;
    }
}

/* Desktop (smaller screens and up) */
@media (min-width: 1025px) {

    .content-wrapper {
        flex-direction: column;
        gap: 5rem;
        margin-top: 10%;
    }

    .text-content h3 {
        font-size: x-large;
        font-weight: 700;
    }

    /* .image-container img {
        width: 450px;
        display: flex;
    } */
}