.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 30px;
}

.text-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    animation: fadeInUp 1s ease-out;
}

.text-content small,
.text-content h3,
.text-content p {
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}



/* Tablet (portrait and landscape) */
@media (min-width: 577px) and (max-width: 1024px) {
    .content-wrapper {
        gap: 5rem;
        margin-top: 150px;
    }
}

/* Desktop (smaller screens and up) */
@media (min-width: 1025px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }

    .content-wrapper {
        flex-direction: row;
        gap: 5rem;
    }

    .text-content h3 {
        font-size: x-large;
        font-weight: 700;
    }

    /* .image-container img {
        width: 450px;
        display: flex;
    } */
}