
.content-wrapper {
  padding: 15px;
  margin-top: 30px;
  animation: slideInLeft 1s ease-out;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  animation: fadeInUp 1s ease-out;
}

.text-content small,
.text-content h3,
.text-content p {
  margin: 0;
  padding: 0;
}

.image-container {
  margin: 0;
  animation: slideInRight 1s ease-out;
}

.image-container img {
  width: 200px;
}

.button-container {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}



/* Tablet */
@media (min-width: 577px) and (max-width: 768px) {
  .image-container img {
    width: 350px;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
  }

  .text-content h3 {
    font-size: x-large;
    font-weight: 700;
  }

  .image-container img {
    width: 450px;
  }
}