/* Base (Mobile) Styles */
.project-item {
    position: relative;
}

.project-content {
    padding-top: 10px;
    margin-bottom: 2rem;
}

.project-content.reverse {
    flex-direction: row-reverse;
}

.flip-card {
    perspective: 1000px;
    height: 250px;
    margin-bottom: 40px;
}

.flip-card-front {
    background-color: #7813C5;
    width: 100%;
    margin-top: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* The inner wrapper that will be rotated */
.flip-card-inner {
    position: relative;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

/* On hover, flip the inner wrapper */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Both sides of the card */
.flip-card-front,
.flip-card-back {
    position: absolute;
    height: 100%;
    backface-visibility: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.image-wrapper {
    background-color: rgb(201, 60, 60);
    width: 100%;
    height: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.techstack {
    width: 100%;
    height: 80%;
}

.project-image-box {
    /* background-color: rgb(201, 60, 60); */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Back side (content on hover) */
.flip-card-back {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(54, 54, 54);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.flip-card-icons {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0.5rem;
    width: 90%;
    border-top: 1px solid rgb(184, 181, 181);
    /* background-color: rgb(214, 213, 213); */
    /* border-radius: 5px; */
}

.flip-card-icons-circle {
    border-radius: 50%;
    background-color: rgb(184, 181, 181);
    width: 20px;
    height: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flip-card-icons-circle:hover {
    background-color: rgb(138, 137, 137);
}

.flip-card-icons img {
    width: 15px;
    object-fit: contain;
}

.flip-card-back h2,
p {
    margin: 0;
}

.responsive-p {
    max-width: 300px;
    max-height: 150px;
    overflow-y: auto;
    word-wrap: break-word;
    /* Ensure long words break to fit the container */
    padding: 8px;
    margin: 0;
}

.responsive-p p {
    font-size: 10px;
    line-height: 1.2;
    margin: 0;
}

.project-details.reverse {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: end;
}

.description {
    width: 100%;
}

/* Separator common styles */
.separator {
    position: absolute;
    height: 0.2rem;
    background-color: #7813C5;
    border-radius: 15px;
    top: 100%;
    transform: translateY(-50%);
}

/* Left‐aligned separator – extend from the left side */
.project-item.left .separator {
    left: 0.1%;
    width: 100%;
}


/* Right‐aligned separator – extend from the right side */
.project-item.right .separator {
    right: 0.1%;
    width: 100%;
}


/* Tablet (portrait and landscape) */
@media (min-width: 577px) and (max-width: 1024px) {
    .project-content {
        padding-top: 10px;
        margin-bottom: 1rem;
        width: 100%;
    }

    .project-content.reverse {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .project-details.reverse {
        margin-top: 1rem;
        text-align: end;
    }

    .description h3 {
        margin: 0;
    }

    .flip-card {
        width: 300px;
        /* margin-bottom: 10px; */
    }

    .flip-card-front,
    .flip-card-back {
        width: 300px;
    }

    .project-item.left .separator {
        left: 0.1%;
        width: 100%;
    }

    .project-item.right .separator {
        right: 0.1%;
        width: 100%;
    }
}

/* Desktop (smaller screens and up) */
@media (min-width: 1025px) {
    .project-content {
        display: flex;
        gap: 50px;
        position: relative;
        margin-bottom: 4rem;
    }

    .flip-card {
        width: 290px;
        margin-bottom: 10px;
    }

    .project-details {
        margin-top: 2rem;
    }

    .description {
        width: 450px;
    }

    .project-item.left .separator {
        left: -0.1%;
        width: 100%;
    }

    .project-item.right .separator {
        right: -0.1%;
        width: 100%;
    }
}