.title-label {
    background-color: #7813C5;
    width: 100px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    gap: 5px;
    margin-bottom: 15px;
}
.title-label p{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

/* Tablet (portrait and landscape) */
@media (min-width: 577px) and (max-width: 1024px) {}

/* Desktop (smaller screens and up) */
@media (min-width: 1025px) {
    .title-label {
        padding: 0.5rem;
        /* width: 150px; */
    }
}