/* Base (Mobile) Styles */
.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, #320456 30%, #0B0454);
    color: white;
    gap: 15px;
    padding: 5%;

}

.project-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40% 5%;
}


/* Tablet (portrait and landscape) */
@media (min-width: 577px) and (max-width: 1024px) {

    .project-content-wrapper {
        padding: 25%;
    }
}

/* Desktop (smaller screens and up) */
@media (min-width: 1025px) {

    .project-content-wrapper {
        padding: 10%;
        overflow: auto;

    }

}