/* Base (Mobile) Styles */
.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #15104A;
    color: white;
}

.contact-body {
    margin: 7rem;
    width: 100%;
    display: flex;
    gap: 30px;
}

.social-media-icons-vertical {
    padding-left: 8px;
    width: 30px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
/* background-color: red; */
}

.contact-inform {
    display: flex;
    width: 300px;
}

.contact-image-container {
    display: none;
}

.contact-image-container img {
    width: 130px;
}

.contact-body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.contact-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-title {
    max-width: 10rem;
    position: relative;
}

.contact-title h1 {
    font-weight: 900;
    text-shadow: 55px 15px 1px rgba(245, 222, 179, 0.1);
}

.contact-icons-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    z-index: 1;
}

.icon-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contactForm {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    z-index: 1;
}




/* Tablet (portrait and landscape) */
@media (min-width: 577px) and (max-width: 1024px) {
    .social-media-icons-vertical{
        height: 70vh;
        width: 70px;
    }
    .contact-body {
        margin: 7rem;
        gap: 5rem;
    }

    .contact-inform {
        width: 500px;
    }

    .contact-body-content {
        justify-content: flex-start;
        align-items: self-start;
        width: 100%;
    }

    .contact-header-wrapper {
        width: 100%;
    }

    .contact-image-container {
        display: flex;
        position: absolute;
        width: 50%;

    }

    .contact-icons-box {
        flex-direction: row;
        justify-content: flex-start;
    }

    .icon-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .contact-image-container img {
        width: 350px;
        opacity: 0.1;
    }

    .contactForm {
        width: 100%;
    }

}

/* Desktop (smaller screens and up) */
@media (min-width: 1025px) {
    .social-media-icons-vertical {
        width: 100px;
    }

    .contact-body-content{
        /* background-color: black; */
        width: 60%;
    }
    .contact-body {
        justify-content: left;
        gap: 20rem;
        margin: 10rem;
    }

    .contact-inform {
        width: 100%;
        justify-content: space-between;
    }

    .contact-image-container {
        display: flex;
        position: absolute;
        top: 100;
        left: 10rem;
        width: 50%;
    }

    .contact-image-container img {
        width: 350px;
        opacity: 0.1;
        object-fit: contain;
    }

    .contact-header-wrapper {
        justify-content: flex-start;
        width: 100%;
    }

    .contact-icons-box {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .icon-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .contactForm {
        width: 100%;

    }


}